<div id="abDiv" class="tabcontent apply-header-font">
    <h1>{{localize 'HTC.Tabs.Abilities.Title'}}</h1>
    <button id='ability-desc-accordion' class="accordion-button">{{localize 'HTC.Tabs.Abilities.Buttons.Info'}}</button>
    <div class="textarea accordion-panel" id="abilities-info">
        <p>{{localize 'HTC.Tabs.Abilities.Info.p1'}}
            <b><span id="ability-mod-table-toggle" class="clickableText">{{localize
                    'HTC.Tabs.Abilities.Info.pTableTitle'}}</span></b>
            {{localize 'HTC.Tabs.Abilities.Info.p2'}}
        </p>
        <div id="ability-scores-modes-table" hidden>
            <table border="0" cellspacing="0">
                <caption>
                    <h4>{{localize 'HTC.Tabs.Abilities.Info.AbilityScoresTable.Title'}}</h4>
                </caption>
                <thead>
                    <tr>
                        <td>{{localize 'HTC.Tabs.Abilities.Info.AbilityScoresTable.Score'}}</td>
                        <td>{{localize 'HTC.Tabs.Abilities.Info.AbilityScoresTable.Modifier'}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>−5</td>
                    </tr>
                    <tr>
                        <td>2–3</td>
                        <td>−4</td>
                    </tr>
                    <tr>
                        <td>4–5</td>
                        <td>−3</td>
                    </tr>
                    <tr>
                        <td>6–7</td>
                        <td>−2</td>
                    </tr>
                    <tr>
                        <td>8–9</td>
                        <td>−1</td>
                    </tr>
                    <tr>
                        <td>10–11</td>
                        <td>+0</td>
                    </tr>
                    <tr>
                        <td>12–13</td>
                        <td>+1</td>
                    </tr>
                    <tr>
                        <td>14–15</td>
                        <td>+2</td>
                    </tr>
                    <tr>
                        <td>16–17</td>
                        <td>+3</td>
                    </tr>
                    <tr>
                        <td>18–19</td>
                        <td>+4</td>
                    </tr>
                    <tr>
                        <td>20–21</td>
                        <td>+5</td>
                    </tr>
                    <tr>
                        <td>22–23</td>
                        <td>+6</td>
                    </tr>
                    <tr>
                        <td>24–25</td>
                        <td>+7</td>
                    </tr>
                    <tr>
                        <td>26–27</td>
                        <td>+8</td>
                    </tr>
                    <tr>
                        <td>28–29</td>
                        <td>+9</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>+10</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>{{localize 'HTC.Tabs.Abilities.Info.p3'}}</p>
    </div>
    <form class="flexcol prototype" autocomplete="off">

        <div class="horizontal-flex">
            <button type="button" class="div-button centered-text" data-mode="roll">{{localize
                'HTC.Tabs.Abilities.Buttons.Roll'}}</button>
            <button type="button" class="div-button centered-text" data-mode="standard">{{localize
                'HTC.Tabs.Abilities.Buttons.StandardArray'}}</button>
            <button type="button" class="div-button centered-text" data-mode="point-buy">{{localize
                'HTC.Tabs.Abilities.Buttons.PointBuy'}}</button>
            <button type="button" class="div-button centered-text" data-mode="manual">{{localize
                'HTC.Tabs.Abilities.Buttons.ManualEntry'}}</button>
        </div>
        <p class="centered-text" id="point-buy-score" hidden>{{localize 'HTC.Tabs.Abilities.PointBuyScore'}}<span
                id="point-buy-current-score">0</span> / <span id="point-buy-max-score">27</span></p>
        <div class="form-group horizontal-flex">
            <input class="flex-sixth" type="number" id="number1" placeholder="10" disabled>
            <span id="mod1" flex>+0</span>
            <button class="flex-sixth abilityUp" type="button" hidden id="up1">↑</button>
            <button class="flex-sixth abilityDown" type="button" hidden id="down1">↓</button>
            <select class="flex-half" name="stats" id="stat1">
                <option value="" disabled selected>{{localize 'HTC.Tabs.Abilities.Select.Placeholder'}}</option>
                <option value="STR">{{localize 'HTC.Common.Abilities.STR'}}</option>
                <option value="DEX">{{localize 'HTC.Common.Abilities.DEX'}}</option>
                <option value="CON">{{localize 'HTC.Common.Abilities.CON'}}</option>
                <option value="INT">{{localize 'HTC.Common.Abilities.INT'}}</option>
                <option value="WIS">{{localize 'HTC.Common.Abilities.WIS'}}</option>
                <option value="CHA">{{localize 'HTC.Common.Abilities.CHA'}}</option>
            </select>
        </div>
        <div class="form-group horizontal-flex">
            <input class="flex-sixth" type="number" id="number2" placeholder="10" disabled>
            <span id="mod2">+0</span>
            <button class="flex-sixth abilityUp" type="button" hidden id="up2">↑</button>
            <button class="flex-sixth abilityDown" type="button" hidden id="down2">↓</button>
            <select class="flex-half" name="stats" id="stat2">
                <option value="" disabled selected>{{localize 'HTC.Tabs.Abilities.Select.Placeholder'}}</option>
                <option value="STR">{{localize 'HTC.Common.Abilities.STR'}}</option>
                <option value="DEX">{{localize 'HTC.Common.Abilities.DEX'}}</option>
                <option value="CON">{{localize 'HTC.Common.Abilities.CON'}}</option>
                <option value="INT">{{localize 'HTC.Common.Abilities.INT'}}</option>
                <option value="WIS">{{localize 'HTC.Common.Abilities.WIS'}}</option>
                <option value="CHA">{{localize 'HTC.Common.Abilities.CHA'}}</option>
            </select>
        </div>
        <div class="form-group horizontal-flex">
            <input class="flex-sixth" type="number" id="number3" placeholder="10" disabled>
            <span id="mod3">+0</span>
            <button class="flex-sixth abilityUp" type="button" hidden id="up3">↑</button>
            <button class="flex-sixth abilityDown" type="button" hidden id="down3">↓</button>
            <select class="flex-half" name="stats" id="stat3">
                <option value="" disabled selected>{{localize 'HTC.Tabs.Abilities.Select.Placeholder'}}</option>
                <option value="STR">{{localize 'HTC.Common.Abilities.STR'}}</option>
                <option value="DEX">{{localize 'HTC.Common.Abilities.DEX'}}</option>
                <option value="CON">{{localize 'HTC.Common.Abilities.CON'}}</option>
                <option value="INT">{{localize 'HTC.Common.Abilities.INT'}}</option>
                <option value="WIS">{{localize 'HTC.Common.Abilities.WIS'}}</option>
                <option value="CHA">{{localize 'HTC.Common.Abilities.CHA'}}</option>
            </select>
        </div>
        <div class="form-group horizontal-flex">
            <input class="flex-sixth" type="number" id="number4" placeholder="10" disabled>
            <span id="mod4">+0</span>
            <button class="flex-sixth abilityUp" type="button" hidden id="up4">↑</button>
            <button class="flex-sixth abilityDown" type="button" hidden id="down4">↓</button>
            <select class="flex-half" name="stats" id="stat4">
                <option value="" disabled selected>{{localize 'HTC.Tabs.Abilities.Select.Placeholder'}}</option>
                <option value="STR">{{localize 'HTC.Common.Abilities.STR'}}</option>
                <option value="DEX">{{localize 'HTC.Common.Abilities.DEX'}}</option>
                <option value="CON">{{localize 'HTC.Common.Abilities.CON'}}</option>
                <option value="INT">{{localize 'HTC.Common.Abilities.INT'}}</option>
                <option value="WIS">{{localize 'HTC.Common.Abilities.WIS'}}</option>
                <option value="CHA">{{localize 'HTC.Common.Abilities.CHA'}}</option>
            </select>
        </div>
        <div class="form-group horizontal-flex">
            <input class="flex-sixth" type="number" id="number5" placeholder="10" disabled>
            <span id="mod5">+0</span>
            <button class="flex-sixth abilityUp" type="button" hidden id="up5">↑</button>
            <button class="flex-sixth abilityDown" type="button" hidden id="down5">↓</button>
            <select class="flex-half" name="stats" id="stat5">
                <option value="" disabled selected>{{localize 'HTC.Tabs.Abilities.Select.Placeholder'}}</option>
                <option value="STR">{{localize 'HTC.Common.Abilities.STR'}}</option>
                <option value="DEX">{{localize 'HTC.Common.Abilities.DEX'}}</option>
                <option value="CON">{{localize 'HTC.Common.Abilities.CON'}}</option>
                <option value="INT">{{localize 'HTC.Common.Abilities.INT'}}</option>
                <option value="WIS">{{localize 'HTC.Common.Abilities.WIS'}}</option>
                <option value="CHA">{{localize 'HTC.Common.Abilities.CHA'}}</option>
            </select>
        </div>
        <div class="form-group horizontal-flex">
            <input class="flex-sixth" type="number" id="number6" placeholder="10" disabled>
            <span id="mod6">+0</span>
            <button class="flex-sixth abilityUp" type="button" hidden id="up6">↑</button>
            <button class="flex-sixth abilityDown" type="button" hidden id="down6">↓</button>
            <select class="flex-half" name="stats" id="stat6">
                <option value="" disabled selected>{{localize 'HTC.Tabs.Abilities.Select.Placeholder'}}</option>
                <option value="STR">{{localize 'HTC.Common.Abilities.STR'}}</option>
                <option value="DEX">{{localize 'HTC.Common.Abilities.DEX'}}</option>
                <option value="CON">{{localize 'HTC.Common.Abilities.CON'}}</option>
                <option value="INT">{{localize 'HTC.Common.Abilities.INT'}}</option>
                <option value="WIS">{{localize 'HTC.Common.Abilities.WIS'}}</option>
                <option value="CHA">{{localize 'HTC.Common.Abilities.CHA'}}</option>
            </select>
        </div>
    </form>

    <button class="step-button" data-back="classDiv">{{localize 'HTC.Tabs.Back'}}</button>
    <button class="step-button" data-next="backgroundDiv" data-validation="_updateAbilityScores">{{localize
        'HTC.Tabs.Next'}}</button>
</div>