<div id="basicsDiv" class="tab-body apply-header-font">
    <h1 class='tab-header'>{{localize 'HCT.Basics.Title'}}</h1>

    <main class='tab-content'>
        <div class="form--padding">
            <form class="flexcol prototype" autocomplete="off">
                <div class="form-group">
                    <label class="basics-top-label">{{localize 'HCT.Basics.CharName'}}</label>
                    <input type="text" id="actor_name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label class="basics-top-label">{{localize 'HCT.Basics.Avatar'}}</label>
                    <input type="text" id="avatar_path" placeholder="Path.." value="icons/svg/mystery-man.svg">
                    <button type="button" class="div-button file-picker centered-text" data-filepick='avatar'>
                        {{localize 'HCT.Basics.PickButton'}}
                    </button>
                </div>
                <div class="form-group">
                    <label class="basics-top-label">{{localize 'HCT.Basics.Token'}}</label>
                    <input type="text" id="token_path" placeholder="Path.." value="icons/svg/mystery-man.svg">
                    <button type="button" class="div-button file-picker centered-text" data-filepick='token'>
                        {{localize 'HCT.Basics.PickButton'}}
                    </button>
                </div>
                <div class="form-group">
                    <label class="basics-top-label">{{localize 'HCT.Basics.Preview'}}</label>
                    <div id="avatar-token-display">
                        <img id="avatar_img" title="Avatar" src="icons/svg/mystery-man.svg" data-filepick='avatar'>
                        <img id="token_img" title="Token" src="icons/svg/mystery-man.svg" data-filepick='token'>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="startDiv">{{localize 'HCT.Back'}}</button>
        <button class="step-button" data-hct_next="raceDiv">{{localize 'HCT.Next'}}</button>
    </footer>
</div>