<div id="bioDiv" class="tabcontent apply-header-font">
    <h1>{{localize 'HTC.Tabs.Bio.Title'}}</h1>
    <div class="form--padding">
        <form class="flexcol prototype" autocomplete="off">
            <div class="form-group">
                <label>{{localize 'HTC.Tabs.Bio.Age'}}</label>
                <input type="text" id="character_age" name="age" placeholder="{{localize 'HTC.Tabs.Bio.Age'}}">
            </div>
            <div class="form-group">
                <label>{{localize 'HTC.Tabs.Bio.Height'}}</label>
                <input type="text" id="character_height" name="height" placeholder="{{localize 'HTC.Tabs.Bio.Height'}}">
            </div>
            <div class="form-group">
                <label>{{localize 'HTC.Tabs.Bio.Weight'}}</label>
                <input type="text" id="character_weight" name="weight" placeholder="{{localize 'HTC.Tabs.Bio.Weight'}}">
            </div>
            <div class="form-group">
                <label>{{localize 'HTC.Tabs.Bio.Eyes'}}</label>
                <div>
                    <input type="text" id="character_eye_color" name="eye-color"
                        placeholder="{{localize 'HTC.Tabs.Bio.Eyes'}}">
                    <input type="color" id="character_eye_rgb" name="eye-rgb">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize 'HTC.Tabs.Bio.Hair'}}</label>
                <div>
                    <input type="text" id="character_hair_color" name="hair-color"
                        placeholder="{{localize 'HTC.Tabs.Bio.Hair'}}">
                    <input type="color" id="character_hair_rgb" name="hair-rgb">
                </div>
            </div>
            <div class="form-group">
                <label>{{localize 'HTC.Tabs.Bio.Skin'}}</label>
                <div>
                    <input type="text" id="character_skin_color" name="skin-color"
                        placeholder="{{localize 'HTC.Tabs.Bio.Skin'}}">
                    <input type="color" id="character_skin_rgb" name="skin-rgb">
                </div>
            </div>
            <div>
                <textarea id="character_biography" placeholder="{{localize 'HTC.Tabs.Bio.Biography'}}"></textarea>
            </div>
        </form>
    </div>
    <!-- next button -->
    <div class="bioSubmit nextButton">{{localize 'HTC.Tabs.Next'}}</div>
</div>