<div id="classDiv" class="tab-body apply-header-font">
    <h1 class='tab-header'>{{localize 'HCT.Class.Title'}}</h1>

    <main class='tab-content'>
        <select id="class-dropdown" name="class">
            <option value="class">this should be a list of classes</option>
        </select>
    </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="raceDiv">{{localize 'HCT.Back'}}</button>
        <button class="step-button" data-hct_next="abDiv">{{localize 'HCT.Next'}}</button>
    </footer>
</div>