<div id="raceDiv" class="tab-body apply-header-font">
    <h1 class='tab-header'>{{localize 'HCT.Race.Title'}}</h1>

    <main class='tab-content'>
        <div>
            <select id="race-dropdown" name="race-dropdown">
                <option value="class">this should be a list of classes</option>
            </select>
        </div>
        <br>
        <h2>{{localize 'HCT.Race.ASI'}}</h2>
        <div id="race-ability" name="race-ability"></div>
        <h2>{{localize 'HCT.Race.Speed'}}</h2>
        <div id="race-speed" name="race-speed"></div>
        <!-- <h2>Language Proficiencies</h2> -->
        <!-- <div id="race-language" name="race-language"></div> -->
        <div id="race-features" name="race-features"></div>
    </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="basicsDiv">{{localize 'HCT.Back'}}</button>
        <button class="step-button" data-hct_next="classDiv">{{localize 'HCT.Next'}}</button>
    </footer>
</div>