<div id="reviewDiv" class="tab-body apply-header-font">
    <h1 class='tab-header'>{{localize 'HCT.Review.Title'}}</h1>

    <main class="tab-content">
        <dl>
            <dt class='review-subtitle' id='review-group-basics'>{{localize 'HCT.Basics.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-race'>{{localize 'HCT.Race.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-class'>{{localize 'HCT.Class.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-abilities'>{{localize 'HCT.Abilities.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-background'>{{localize 'HCT.Background.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-equipment'>{{localize 'HCT.Equipment.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-spells'>{{localize 'HCT.Spells.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-bio'>{{localize 'HCT.Bio.Title'}}</dt>
        </dl>
    </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="bioDiv">{{localize 'HCT.Back'}}</button>
        <button id="finalSubmit" class="step-button review-submit">{{localize 'HCT.Submit'}}</button>
    </footer>
</div>