<div id="startDiv" class="tabcontent apply-header-font">
  <h1>{{localize 'HTC.Tabs.Start.Welcome'}}</h1>

  <section>
    {{localize 'HTC.Tabs.Start.p1'}}
    <br><br>
    {{localize 'HTC.Tabs.Start.p2'}}
    <br><br>
    <b>{{localize 'HTC.Tabs.Start.Remark'}}</b>
    <br>
    <img src="https://i.imgur.com/UoQolQ2.png" style=" width: 50%; margin-left: auto;
      margin-right: auto; display: block; border: none">
    <br>
  </section>

  <button class="step-button" data-next='basicsDiv'>{{localize 'HTC.Tabs.Next'}}</button>
</div>