<div id="startDiv" class="tab-body apply-header-font">
  <h1 class='tab-header'>{{localize 'HTC.Tabs.Start.Welcome'}}</h1>

  <main class='tab-content'>
    {{localize 'HTC.Tabs.Start.p1'}}
    <br><br>
    {{localize 'HTC.Tabs.Start.p2'}}
    <br><br>
    <b class="centered-text">{{localize 'HTC.Tabs.Start.Remark'}}</b>
    <br>
    <img id="main-logo">
    <br>
  </main>

  <footer class='tab-footer'>
    <button class="step-button" data-hct_next='basicsDiv'>{{localize 'HTC.Tabs.Next'}}</button>
  </footer>
</div>