<div id="startDiv" class="tabcontent apply-header-font">
  <h1>{{localize 'HTC.Tabs.Start.Welcome'}}</h1>
  <body>
    {{localize 'HTC.Tabs.Start.p1'}}
    <br><br>
    {{localize 'HTC.Tabs.Start.p2'}}
    <br><br>
    <b>{{localize 'HTC.Tabs.Start.Remark'}}</b>
    <br>
    <img src="https://i.imgur.com/UoQolQ2.png" style=" width: 50%; margin-left: auto;
      margin-right: auto; display: block; border: none">
    <br>
  </body>
  <!-- next button -->
  <div class="nextButton" onclick="openTab(event, 'basicsDiv')">{{localize 'HTC.Tabs.Next'}}</div>
</div>