<div class="hct-container">
  <nav class="tabs">
    <button class="tablinks" data-hct_tab='basicsDiv'> {{localize 'HCT.Basics.Title'}} </button>
    <button class="tablinks" data-hct_tab='raceDiv' data-hct_race> {{localize 'DND5E.Race'}} </button>
    <button class="tablinks" data-hct_tab='classDiv'> {{localize 'ITEM.TypeClass'}} </button>
    <button class="tablinks" data-hct_tab='abDiv'> {{localize 'HCT.Abilities.Title'}} </button>
    <button class="tablinks" data-hct_tab='backgroundDiv'> {{localize 'DND5E.Background'}} </button>
    <button class="tablinks" data-hct_tab='eqDiv'> {{localize 'DND5E.ItemTypeEquipmentPl'}} </button>
    <button class="tablinks" data-hct_tab='spDiv'> {{localize 'DND5E.ItemTypeSpellPl'}} </button>
    <button class="tablinks" data-hct_tab='bioDiv'> {{localize 'DND5E.Biography'}} </button>
    <button class="tablinks" data-hct_submit style='border: solid 3px green;'> {{localize 'HCT.Submit'}} </button>
    </button>
  </nav>

  {{> "modules/hero-creation-tool/templates/tabs/start.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/basics.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/race.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/class.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/abilities.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/background.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/equipment.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/spells.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/bio.html"}}
</div>