<div class="hct-container">
  {{> "modules/hero-creation-tool/templates/nav-tabs.html"}}

  {{> "modules/hero-creation-tool/templates/tabs/start.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/basics.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/race.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/class.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/abilities.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/background.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/equipment.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/spells.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/bio.html"}}

  {{> "modules/hero-creation-tool/templates/nav-buttons.html"}}
</div>