<nav class="tabs">
    <button class="tablinks" data-hct_tab_index='0'> {{localize 'HCT.Basics.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='1' data-hct_race> {{localize 'HCT.Race.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='2'> {{localize 'HCT.Class.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='3'> {{localize 'HCT.Abilities.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='4'> {{localize 'HCT.Background.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='5'> {{localize 'HCT.Equipment.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='6'> {{localize 'HCT.Spells.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='7'> {{localize 'HCT.Bio.Title'}} </button>
    <button class="tablinks" data-hct_submit> {{localize 'HCT.Submit.Button'}} </button>
</nav>