<nav class="tabs">
    <button class="tablinks" data-hct_tab_index='0'> {{localize 'HCT.Basics.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='1' data-hct_race> {{localize 'DND5E.Race'}} </button>
    <button class="tablinks" data-hct_tab_index='2'> {{localize 'ITEM.TypeClass'}} </button>
    <button class="tablinks" data-hct_tab_index='3'> {{localize 'HCT.Abilities.Title'}} </button>
    <button class="tablinks" data-hct_tab_index='4'> {{localize 'DND5E.Background'}} </button>
    <button class="tablinks" data-hct_tab_index='5'> {{localize 'DND5E.ItemTypeEquipmentPl'}} </button>
    <button class="tablinks" data-hct_tab_index='6'> {{localize 'DND5E.ItemTypeSpellPl'}} </button>
    <button class="tablinks" data-hct_tab_index='7'> {{localize 'DND5E.Biography'}} </button>
    <button class="tablinks" data-hct_submit> {{localize 'HCT.Submit'}} </button>
</nav>