<nav class="tabs">
    <button class="tablinks" data-hct_tab='basicsDiv'> {{localize 'HCT.Basics.Title'}} </button>
    <button class="tablinks" data-hct_tab='raceDiv' data-hct_race> {{localize 'DND5E.Race'}} </button>
    <button class="tablinks" data-hct_tab='classDiv'> {{localize 'ITEM.TypeClass'}} </button>
    <button class="tablinks" data-hct_tab='abDiv'> {{localize 'HCT.Abilities.Title'}} </button>
    <button class="tablinks" data-hct_tab='backgroundDiv'> {{localize 'DND5E.Background'}} </button>
    <button class="tablinks" data-hct_tab='eqDiv'> {{localize 'DND5E.ItemTypeEquipmentPl'}} </button>
    <button class="tablinks" data-hct_tab='spDiv'> {{localize 'DND5E.ItemTypeSpellPl'}} </button>
    <button class="tablinks" data-hct_tab='bioDiv'> {{localize 'DND5E.Biography'}} </button>
    <button class="tablinks" data-hct_submit> {{localize 'HCT.Submit'}} </button>
</nav>