<section id="backgroundDiv" class="hct-py-lg hct-grow" data-hct_tab_section="4">
    <main class='hct-panel-container'>
        <div class="hct-panel-left">
            <div data-hct_background_data>
                <div data-hct_area="name">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Background.Name'}}</h2>
                </div>
                <div data-hct_area="alignment">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Background.Alignment'}}</h2>
                </div>
                <div data-hct_area="proficiences">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Common.Proficiencies'}}</h2>
                </div>
                <div data-hct_area="feature">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Common.Feature'}}</h2>
                    <div class="hct-w-full flexrow hct-justify-between hct-pb-sm">
                        <span>{{ localize 'HCT.Background.ShowFeatureOnSide'}}</span>
                        <input type="checkbox" data-hct-show-background-feature-desc>
                    </div>
                </div>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea" data-hct_background_description></div>
    </main>
</section>