<section id="backgroundDiv" class="hct-py-lg hct-grow" data-hct_tab_section="4">
    <main class='hct-panel-container'>
        <div class="hct-panel-left">
            <div data-hct_background_data>
                <div class="hct-icon-with-context hct-mb-md" data-hct-background-search>
                    <img class="hct-border-0 hct-border-rad-tiny hct-mr-sm hct-w-[60px]" title="raceIcon" src="icons/svg/mystery-man.svg" data-hct_background_icon>
                </div>
                <div data-hct_area="alignment">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Background.Alignment'}}</h2>
                </div>
                <div data-hct_area="proficiences">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Common.Proficiencies'}}</h2>
                </div>
                <div data-hct_area="feature">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Common.Feature'}}</h2>
                    <div class="hct-w-full flexrow hct-justify-between hct-pb-sm">
                        <span>{{ localize 'HCT.Background.ShowFeatureOnSide'}}</span>
                        <input type="checkbox" data-hct-show-background-feature-desc>
                    </div>
                </div>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea" data-hct_background_description></div>
    </main>
</section>