<section id="backgroundDiv" class="tab-body apply-header-font" data-hct_tab_section="4">
    <main class='tab-content hct-panel-container'>
        <div class="hct-panel-left">
            <div data-hct_background_data>
                <div data-hct_area="name">
                    <h2 class="hct-area-title">{{localize 'HCT.Background.Name'}}</h2>
                </div>
                <div data-hct_area="alignment">
                    <h2 class="hct-area-title">{{localize 'HCT.Background.Alignment'}}</h2>
                </div>
                <div data-hct_area="proficiences">
                    <h2 class="hct-area-title">{{localize 'HCT.Common.Proficiencies'}}</h2>
                </div>
                <div data-hct_area="feature">
                    <h2 class="hct-area-title">{{localize 'HCT.Common.Feature'}}</h2>
                </div>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea" data-hct_background_description></div>
    </main>
</section>