<section id="basicsDiv" class="tab-body apply-header-font hct-y-scroll" data-hct_tab_section="0">
    <main class='tab-content'>
        <div class="form--padding">
            <form class="flexcol" autocomplete="off">
                <div class="hct-flex hct-padding-b-tiny" data-hero_name>
                    <label class="hct-width-180">{{localize 'HCT.Common.RequiredName'}}</label>
                </div>
                <div class="hct-flex hct-padding-b-tiny" data-hero_avatar>
                    <label class="hct-width-180">{{localize 'HCT.Basics.Avatar'}}</label>
                    <button type="button" class="div-button file-picker centered-text" data-filepick='avatar'>
                        {{localize 'HCT.Basics.PickButton'}}
                    </button>
                </div>
                <div class="hct-flex hct-padding-b-tiny" data-hero_token>
                    <label class="hct-width-180">{{localize 'HCT.Basics.Token'}}</label>
                    <button type="button" class="div-button file-picker centered-text" data-filepick='token'>
                        {{localize 'HCT.Basics.PickButton'}}
                    </button>
                </div>
                <div class="hct-flex hct-padding-b-tiny">
                    <label class="hct-width-180">{{localize 'HCT.Basics.Preview'}}</label>
                    <div id="avatar-token-display">
                        <img class="hct-icon-clickable hct-hover-shadow-accent hct-icon-borderless" id="avatar_img" data-img='avatar'
                            title="Avatar" src="icons/svg/mystery-man.svg" data-filepick='avatar'>
                        <img class="hct-icon-clickable hct-hover-shadow-accent hct-icon-borderless" id="token_img" data-img='token'
                            title="Token" src="icons/svg/mystery-man.svg" data-filepick='token'>
                    </div>
                </div>
                <div class="hct-flex hct-padding-b-tiny">
                    <label class="hct-banner" data-tokenizer-warning>{{localize
                        'HCT.Integration.Tokenizer.WarningOn'}}</label>
                </div>
            </form>
        </div>
    </main>
</section>