<section id="bioDiv" class="tab-body apply-header-font hct-y-scroll" data-hct_tab_section="7">
    <main class='tab-content hct-panel-container'>
        <div class="hct-panel-left">
            <div>
                <h2 class="hct-area-title">{{localize 'HCT.Bio.AppearanceTitle'}}</h2>
                <textarea class="hct-bio-larger hct-bio-no-resize" data-hct_bio_data='appearance'
                    placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-area-title">{{localize 'HCT.Bio.PersonalityTraitsTitle'}}</h2>
                <textarea class="hct-bio-no-resize" data-hct_bio_data='trait' placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-area-title">{{localize 'HCT.Bio.IdealsTitle'}}</h2>
                <textarea class="hct-bio-no-resize" data-hct_bio_data='ideal' placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-area-title">{{localize 'HCT.Bio.BondsTitle'}}</h2>
                <textarea class="hct-bio-no-resize" data-hct_bio_data='bond' placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-area-title">{{localize 'HCT.Bio.FlawsTitle'}}</h2>
                <textarea class="hct-bio-no-resize" data-hct_bio_data='flaw' placeholder="..."></textarea>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea">
            <textarea class="hct-bio-fullsize hct-bio-no-resize" data-hct_bio_data='biography.value'
                placeholder="{{localize 'HCT.Bio.BiographyPlaceholder'}}"></textarea>
        </div>
    </main>
</section>