<section id="bioDiv" class="hct-py-lg hct-grow hct-overflow-y-scroll" data-hct_tab_section="7">
    <main class='hct-panel-container'>
        <div class="hct-panel-left">
            <div>
                <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Bio.AppearanceTitle'}}</h2>
                <textarea class="hct-border-none hct-ml-sm" data-hct_bio_data='appearance'
                    placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Bio.PersonalityTraitsTitle'}}</h2>
                <textarea class="hct-border-none hct-ml-sm" data-hct_bio_data='trait' placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Bio.IdealsTitle'}}</h2>
                <textarea class="hct-border-none hct-ml-sm" data-hct_bio_data='ideal' placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Bio.BondsTitle'}}</h2>
                <textarea class="hct-border-none hct-ml-sm" data-hct_bio_data='bond' placeholder="..."></textarea>
            </div>
            <div>
                <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Bio.FlawsTitle'}}</h2>
                <textarea class="hct-border-none hct-ml-sm" data-hct_bio_data='flaw' placeholder="..."></textarea>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea">
            <textarea class="hct-bg-transparent hct-border-none hct-h-full" data-hct_bio_data='biography.value'
                placeholder="{{localize 'HCT.Bio.BiographyPlaceholder'}}"></textarea>
        </div>
    </main>
</section>