<section id="classDiv" class="tab-body apply-header-font" data-hct_tab_section="2">
    <main class='tab-content hct-panel-container'>
        <div class="hct-panel-left">
            <div class="hct-icon-with-context hct-small-margin-b" data-hct-class-search>
                <img class="hct-icon" title="classIcon" src="icons/svg/mystery-man.svg" data-hct_class_icon>
                <select class="hct-width-full" data-hct_class_picker style="display: none;">
                    <option value="" disabled selected hidden> {{localize 'HCT.Class.Select.Default'}} </option>
                </select>
            </div>
            <div data-hct_class_data>
                <div data-hct_class_area="hit-points">
                    <h2 class="hct-area-title">{{localize 'HCT.Class.HitPoints'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>
                <div data-hct_class_area="saving-throws">
                    <h2 class="hct-area-title">{{localize 'HCT.Class.SavingThrows'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>
                <div data-hct_class_area="proficiencies">
                    <h2 class="hct-area-title">{{localize 'HCT.Common.Proficiencies'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>
                <div data-hct_class_area="features">
                    <h2 class="hct-area-title">{{localize 'HCT.Common.Features'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea" data-hct_class_description>
            {{ localize 'HCT.Class.DescriptionPlaceholder' }}
        </div>
    </main>
</section>