<section id="eqDiv" class="tab-body apply-header-font" data-hct_tab_section="6">
    <main class='tab-content'>
        <div class="flex-separator">
            <div style="width: 50%; height: 100%;">
                <form class="flexcol prototype form__select--margin" action="">
                    <div class="light-pane vertical-flex">
                        <h3>{{localize 'HCT.Equipment.HowToChoose'}}</h3>
                        <select name="equip-select" id="equip-select" onChange="openSelector(event)">
                            <option value="">{{localize 'HCT.Equipment.Select.Default'}}</option>
                            <option>{{localize 'HCT.Equipment.Select.ClassEquipment'}}</option>
                            <option>{{localize 'HCT.Equipment.Select.StartingGold'}}</option>
                        </select>
                    </div>

                    <div id="class-equip">
                        <h1 class='tab-header'>Placeholder</h1>
                        <form class="flexcol form__select--margin" action="">
                            <label for="placeholder">placeholder</label> <br>
                            <select name="placeholder" id="placeholder"></select>
                        </form>
                        <h2>{{localize 'HCT.Equipment.FromBackground'}}</h2>
                    </div>

                    <div id="gold-equip">
                        <h1 class='tab-header'>{{localize 'HCT.Equipment.StartingGold.Subtitle'}}</h1>
                        <div class="horizontal-flex">
                            <button style="flex-shrink: 3; margin-right: 30px;">5d4x10</button>
                            <input type="number">
                        </div>
                        <br>
                        <p>{{localize 'HCT.Equipment.StartingGold.Hint'}}</p>
                    </div>
                </form>
            </div>

            <!-- FIXME replace this ? -->
            <div class="textarea infoArea" style="height: 375px;">
                <p>Common coins come in several different denominations based on the relative worth of the metal from
                    which
                    they
                    are made. The three most common coins are the gold piece (gp), the silver piece (sp), and the copper
                    piece (cp).
                </p>
                <p>With one gold piece, a character can buy a bedroll, 50 feet of good rope, or a goat. A skilled (but
                    not
                    exceptional) artisan can earn one gold piece a day. The gold piece is the standard unit of measure
                    for
                    wealth,
                    even if the coin itself is not commonly used. When merchants discuss deals that involve goods or
                    services worth
                    hundreds or thousands of gold pieces, the transactions don’t usually involve the exchange of
                    individual
                    coins.
                    Rather, the gold piece is a standard measure of value, and the actual exchange is in gold bars,
                    letters
                    of
                    credit, or valuable goods.</p>
                <p>One gold piece is worth ten silver pieces, the most prevalent coin among commoners. A silver piece
                    buys a
                    laborer’s work for half a day, a flask of lamp oil, or a night’s rest in a poor inn.</p>
                <p>One silver piece is worth ten copper pieces, which are common among laborers and beggars. A single
                    copper
                    piece
                    buys a candle, a torch, or a piece of chalk.</p>
                <p>In addition, unusual coins made of other precious metals sometimes appear in treasure hoards. The
                    electrum
                    piece (ep) and the platinum piece (pp) originate from fallen empires and lost kingdoms, and they
                    sometimes
                    arouse suspicion and skepticism when used in transactions. An electrum piece is worth five silver
                    pieces, and a
                    platinum piece is worth ten gold pieces.</p>
                <p>A standard coin weighs about a third of an ounce, so fifty coins weigh a pound.</p>
                <table>
                    <caption>
                        <h4>Standard Exchange Rates</h4>
                    </caption>
                    <thead>
                        <tr>
                            <td>Coin</td>
                            <td>CP</td>
                            <td>SP</td>
                            <td>EP</td>
                            <td>GP</td>
                            <td>PP</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Copper (cp)</td>
                            <td>1</td>
                            <td>1/10</td>
                            <td>1/50</td>
                            <td>1/100</td>
                            <td>1/1,000</td>
                        </tr>
                        <tr>
                            <td>Silver (sp)</td>
                            <td>10</td>
                            <td>1</td>
                            <td>1/5</td>
                            <td>1/10</td>
                            <td>1/100</td>
                        </tr>
                        <tr>
                            <td>Electrum (ep)</td>
                            <td>50</td>
                            <td>5</td>
                            <td>1</td>
                            <td>1/2</td>
                            <td>1/20</td>
                        </tr>
                        <tr>
                            <td>Gold (gp)</td>
                            <td>100</td>
                            <td>10</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1/10</td>
                        </tr>
                        <tr>
                            <td>Platinum (pp)</td>
                            <td>1000</td>
                            <td>100</td>
                            <td>20</td>
                            <td>10</td>
                            <td>1</td>
                        </tr>
                    </tbody>
                </table>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="YUyO7WBD2DSlCBej"><i
                            class="fas fa-book-open"></i> Selling Treasure</a></p>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="ln4KF7662eP93keD"><i
                            class="fas fa-book-open"></i> Armor</a></p>
                <p>&emsp;›&emsp;Light Armor</p>
                <p>&emsp;›&emsp;Medium Armor</p>
                <p>&emsp;›&emsp;Heavy Armor</p>
                <p>&emsp;›&emsp;Getting Into and Out of Armor</p>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="VbMVnhcLWO4YX1V9"><i
                            class="fas fa-book-open"></i> Weapons</a></p>
                <p>&emsp;›&emsp;Weapon Proficiency</p>
                <p>&emsp;›&emsp;Weapon Properties</p>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="bogWrnJqoNlBd0O8"><i
                            class="fas fa-book-open"></i> Adventuring Gear</a></p>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="soqKcpGwvId8hQ9r"><i
                            class="fas fa-book-open"></i> Tools</a></p>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="IAlkoC9IZnU1PzrR"><i
                            class="fas fa-book-open"></i> Mounts and Vehicles</a></p>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="pOHY1F2F9Jf9S76B"><i
                            class="fas fa-book-open"></i> Trade Goods</a></p>
                <p><a class="entity-link" draggable="true" data-pack="dnd5e.rules" data-id="SlXnxASl7xZ7EjSx"><i
                            class="fas fa-book-open"></i> Expenses</a></p>
                <p>&emsp;›&emsp;Lifestyle Expenses</p>
                <p>&emsp;›&emsp;Food, Drink, and Lodging</p>
                <p>&emsp;›&emsp;Services</p>
                <p>&emsp;›&emsp;Spellcasting Services</p>
            </div>
        </div>
    </main>
</section>