<section id="raceDiv" class="tab-body apply-header-font" data-hct_tab_section="2">
    <main class='tab-content hct-panel-container'>
        <div class="hct-panel-left">
            <div class="hct-icon-with-context">
                <img class="hct-icon" title="raceIcon" src="icons/svg/mystery-man.svg" data-hct_race_icon>
                <select data-hct_race_picker>
                    <option value="" disabled selected hidden> {{localize 'HCT.Race.Select.Default'}} </option>
                </select>
            </div>
            <div data-hct_race_data>
                <!-- filled by tabs/race.ts -->
                <div data-hct_race_area="abilityScores">
                    <h2 class="hct-area-title">{{localize 'HCT.Race.ASI'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>

                <div data-hct_race_area="size">
                    <h2 class="hct-area-title">{{localize 'DND5E.Size'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>

                <div data-hct_race_area="senses">
                    <h2 class="hct-area-title">{{localize 'DND5E.Senses'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>

                <div data-hct_race_area="movement">
                    <h2 class="hct-area-title">{{localize 'DND5E.Movement'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>

                <div data-hct_race_area="proficiencies">
                    <h2 class="hct-area-title">{{localize 'HCT.Common.Proficiencies'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>

                <div data-hct_race_area="features">
                    <h2 class="hct-area-title">{{localize 'DND5E.Features'}}</h2>
                    <section class='hct_data_elem'></section>
                </div>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea">
            <div data-hct_race_description>{{ localize 'HCT.Race.DescriptionPlaceholder' }}</div>
            <hr data-hct_subrace_separator>
            <div data-hct_subrace_description></div>
        </div>

    </main>
</section>