<section id="raceDiv" class="tab-body apply-header-font">
    <h1 class='tab-header'>{{localize 'DND5E.Race'}}</h1>

    <main class='tab-content'>
        <img class="hct-race-icon" title="raceIcon" src="icons/svg/mystery-man.svg" data-hct_race_icon>
        <select class='hct_picker' , data-hct_race_picker>
            <option value="" disabled selected hidden> {{localize 'HCT.Race.RaceSelect.Default'}} </option>
        </select>
        <div data-hct_race_data>
            <!-- filled by tabs/race.ts -->
            <div data-hct_race_area="abilityScores">
                <h2>{{localize 'HCT.Race.ASI'}}</h2>
                <section class='hct_race_data_elem' data-hct_race_abilityScoreImprovements></section>
            </div>

            <div data-hct_race_area="size">
                <h2>{{localize 'DND5E.Size'}}</h2>
                <section class='hct_race_data_elem' data-hct_race_size></section>
            </div>

            <div data-hct_race_area="senses">
                <h2>{{localize 'DND5E.Senses'}}</h2>
                <section class='hct_race_data_elem' data-hct_race_senses></section>
            </div>

            <div data-hct_race_area="movement">
                <h2>{{localize 'DND5E.Movement'}}</h2>
                <section class='hct_race_data_elem' data-hct_race_movement></section>
            </div>

            <div data-hct_race_area="proficiencies">
                <h2>{{localize 'HCT.Race.Proficiencies'}}</h2>
                <section class='hct_race_data_elem' data-hct_race_proficiencies></section>
            </div>

            <!-- <h2>Language Proficiencies</h2> -->
            <!-- <div id="race-language" name="race-language"></div> -->
        </div>

    </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="basicsDiv">{{localize 'HCT.Back'}}</button>
        <button class="step-button" data-hct_next="classDiv">{{localize 'HCT.Next'}}</button>
    </footer>
</section>