<section id="reviewDiv" class="tab-body apply-header-font">
    <h1 class='tab-header'>{{localize 'HCT.Review.Title'}}</h1>

    <main class="tab-content">
        <dl>
            <dt class='review-subtitle' id='review-group-basics'>{{localize 'HCT.Basics.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-race'>{{localize 'DND5E.Race'}}</dt>
            <dt class='review-subtitle' id='review-group-class'>{{localize 'ITEM.TypeClass'}}</dt>
            <dt class='review-subtitle' id='review-group-abilities'>{{localize 'HCT.Abilities.Title'}}</dt>
            <dt class='review-subtitle' id='review-group-background'>{{localize 'DND5E.Background'}}</dt>
            <dt class='review-subtitle' id='review-group-equipment'>{{localize 'DND5E.ItemTypeEquipmentPl'}}</dt>
            <dt class='review-subtitle' id='review-group-spells'>{{localize 'DND5E.ItemTypeSpellPl'}}</dt>
            <dt class='review-subtitle' id='review-group-bio'>{{localize 'DND5E.Biography'}}</dt>
        </dl>
    </main>

    <footer class='tab-footer'>
        <button class="step-button" data-hct_back="bioDiv">{{localize 'HCT.Back'}}</button>
        <button id="finalSubmit" class="step-button review-submit">{{localize 'HCT.Submit'}}</button>
    </footer>
</section>