<section id="spellsDiv" class="hct-py-lg hct-grow" data-hct_tab_section="6">
    <main class='hct-panel-container'>
        <div class="hct-panel-left">
            <div data-hct_spells_data>
                <div data-hct_area="spellcasting-ability">
                    <h2 class="hct-mb-md hct-font-title">{{ localize 'HCT.Spells.Spellcasting' }}</h2>
                    <p data-hct_spellcasting_ability></p>
                </div>

                <div data-hct_area="spellcount">
                    <h2 class="hct-mb-md hct-font-title">{{ localize 'HCT.Spells.SpellCount' }}</h2>
                    <table>
                        <tbody class="hct-text-center">
                            <tr>
                                <th class="">{{ localize 'HCT.Spells.Cantrips' }}</th>
                                <th class="">1<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.1' }}</sup></th>
                                <th class="">2<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.2' }}</sup></th>
                                <th class="">3<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.3' }}</sup></th>
                                <th class="">4<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.4' }}</sup></th>
                                <th class="">5<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.5' }}</sup></th>
                                <th class="">6<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.6' }}</sup></th>
                                <th class="">7<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.7' }}</sup></th>
                                <th class="">8<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.8' }}</sup></th>
                                <th class="">9<sup class="hct-text-xs">{{ localize 'HCT.Spells.Superscript.9' }}</sup></th>
                            </tr>
                            <tr>
                                <td data-hct_lv0_count>0</td>
                                <td data-hct_lv1_count>0</td>
                                <td data-hct_lv2_count>0</td>
                                <td data-hct_lv3_count>0</td>
                                <td data-hct_lv4_count>0</td>
                                <td data-hct_lv5_count>0</td>
                                <td data-hct_lv6_count>0</td>
                                <td data-hct_lv7_count>0</td>
                                <td data-hct_lv8_count>0</td>
                                <td data-hct_lv9_count>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div data-hct_area="spells">
                    <h2 class="hct-mb-md hct-font-title">{{localize 'HCT.Spells.SpellList' }}</h2>
                    <div class="hct-pl-sm">
                        <form data-hct-searchbar autocomplete="off">
                            <div class="hct-search-wrapper">
                                <div class="flexrow">
                                    <input type="text" placeholder="{{localize 'HCT.Common.Searchbar.Placeholder'}}">
                                </div>
                                <div class="hct-search-autocom-box" data-hct-searchbar-results>
                                    <!-- here list are inserted from javascript -->
                                </div>
                            </div>
                        </form>
                        <button class="hct-button hct-mb-sm hct-block hct-w-full" data-hct_spells_clear>{{localize
                            'HCT.Common.Searchbar.ClearList' }}</button>
                        <div data-hct-itemlist></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea" data-hct_spells_description></div>
    </main>
</section>