<section id="spellsDiv" class="tab-body apply-header-font" data-hct_tab_section="6">
    <main class='tab-content hct-panel-container'>
        <div class="hct-panel-left">
            <div data-hct_spells_data>
                <div data-hct_area="spellcasting-ability">
                    <h2 class="hct-area-title">{{ localize 'HCT.Spells.Spellcasting' }}</h2>
                    <div>
                        <p data-hct_spellcasting_ability></p>
                        <hr class="hct-margin-small">
                        <div class="hct-width-full hct-flex hct-flex-justify-sb">
                            <span>{{ localize 'HCT.Spells.ShowFeatureOnSide'}}</span>
                            <input type="checkbox" id="hct-show-class-spellcasting-desc">
                        </div>
                    </div>
                </div>

                <div data-hct_area="spellcount">
                    <h2 class="hct-area-title">{{ localize 'HCT.Spells.SpellCount' }}</h2>
                    <table>
                        <tbody class="hct-text-align-center">
                            <tr>
                                <th class="hct-width-10per">{{ localize 'HCT.Spells.Cantrips' }}</th>
                                <th class="hct-width-10per">1<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.1' }}</sup></th>
                                <th class="hct-width-10per">2<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.2' }}</sup></th>
                                <th class="hct-width-10per">3<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.3' }}</sup></th>
                                <th class="hct-width-10per">4<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.4' }}</sup></th>
                                <th class="hct-width-10per">5<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.5' }}</sup></th>
                                <th class="hct-width-10per">6<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.6' }}</sup></th>
                                <th class="hct-width-10per">7<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.7' }}</sup></th>
                                <th class="hct-width-10per">8<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.8' }}</sup></th>
                                <th class="hct-width-10per">9<sup class="hct-font-size-xsm">{{ localize 'HCT.Spells.Superscript.9' }}</sup></th>
                            </tr>
                            <tr>
                                <td data-hct_lv0_count>0</td>
                                <td data-hct_lv1_count>0</td>
                                <td data-hct_lv2_count>0</td>
                                <td data-hct_lv3_count>0</td>
                                <td data-hct_lv4_count>0</td>
                                <td data-hct_lv5_count>0</td>
                                <td data-hct_lv6_count>0</td>
                                <td data-hct_lv7_count>0</td>
                                <td data-hct_lv8_count>0</td>
                                <td data-hct_lv9_count>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div data-hct_area="spells">
                    <h2 class="hct-area-title">{{localize 'HCT.Spells.SpellList' }}</h2>
                    <form data-hct-searchbar autocomplete="off">
                        <div class="hct-search-wrapper">
                            <div class="hct-search-area">
                                <i class="fas fa-search hct-search-fa"></i>
                                <input type="text" placeholder="{{localize 'HCT.Common.Searchbar.Placeholder'}}">
                            </div>
                            <div class="hct-search-autocom-box" data-hct-searchbar-results>
                                <!-- here list are inserted from javascript -->
                            </div>
                        </div>
                    </form>
                    <button class="step-button hct-option centered-text" data-hct_spells_clear>{{localize
                        'HCT.Common.Searchbar.ClearList' }}</button>
                    <div data-hct-itemlist></div>
                </div>
            </div>
        </div>
        <div class="hct-panel-right hct-infoArea" data-hct_spells_description></div>
    </main>
</section>