<section id="startDiv" class="tab-body apply-header-font hct-y-scroll" data-hct_tab_section="-1">
  <main class='tab-content'>
    <h1 class='tab-header'>{{localize 'HCT.Start.Welcome'}}</h1>

    <p class="justified-text">{{localize 'HCT.Start.p1'}}</p>
    <br>
    <p class="justified-text">{{localize 'HCT.Start.p2'}}</p>
    <br>
    <br>
    <b class="centered-text">{{localize 'HCT.Start.Remark'}}</b>
    <br>
    <img id="main-logo">
    <p class="centered-text"><a class="hct-accented"
        href="https://github.com/HeroCreationLab/hero-creation-tool/blob/main/README.md#faq">{{localize
        'HCT.Start.Faq'}}</a></p>
    <p class="centered-text"><a class="hct-accented"
        href="https://github.com/HeroCreationLab/hero-creation-tool/blob/main/docs/HOW-TO.md">{{localize
        'HCT.Start.HowTo'}}</a></p>
  </main>
</section>