<section id="startDiv" class="hct-mt-lg hct-grow hct-overflow-y-scroll hct-m" data-hct_tab_section="-1">
  <main class=''>
    <h1 class='hct-font-title hct-text-3xl'>{{localize 'HCT.Start.Welcome'}}</h1>

    <p class="hct-text-center">{{localize 'HCT.Start.p1'}}</p>
    <br>
    <p class="hct-text-center">{{localize 'HCT.Start.p2'}}</p>
    <br>
    <b class="hct-text-center hct-block">{{localize 'HCT.Start.Remark'}}</b>
    <br>
    <img id='hct_main_logo' class='hct-block hct-border-0'>
    <p class="hct-text-center "><a class="hct-accented"
        href="https://github.com/HeroCreationLab/hero-creation-tool/blob/main/README.md#faq">{{localize
        'HCT.Start.Faq'}}</a></p>
    <p class="hct-text-center "><a class="hct-accented"
        href="https://github.com/HeroCreationLab/hero-creation-tool/blob/main/docs/HOW-TO.md">{{localize
        'HCT.Start.HowTo'}}</a></p>
  </main>
</section>