$tiny: 5px;
$small: 10px;
$medium: 20px;
$large: 30px;
$color-button-background: rgba(0, 0, 0, 0.05);
$color-accent: darkred;
$color-accent-alt: darkgreen;

.header-hct-button {
  margin: 2px;
  width: 97%;
  height: 28px;
  line-height: 26px;
}

.tab-body {
  padding: $small $large;
  overflow-y: hidden;
  flex-grow: 1;
}

#hct {
  &-level-up {
    font-size: 14px;
    line-height: normal;
    height: 18px;
    border: none;
    margin-right: $tiny;
    white-space: nowrap;
  }
}

.hct {
  &-accented {
    color: $color-accent;
  }

  &-accented[href] {
    color: $color-accent;
  }

  &-background {
    &-black {
      background-color: black;
    }
  }

  &-banner {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border: 1px solid gray;
    padding: $small;
    border-radius: $small;
  }

  &-baseline {
    align-items: baseline;
  }

  &-button {
    &--floating {
      width: 24px;
      height: 24px;
      position: relative;
      background: $color-button-background;
      border: 2px groove #f0f0e0;
    }

    &-up {
      border-radius: 20px 20px 0 0;
    }

    &-down {
      border-radius: 0 0 20px 20px;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-flex {
    display: flex;

    &-justify-sb {
      justify-content: space-between;
    }
  }

  &-hover {
    &-accent:hover {
      color: $color-accent;
    }
    &-accent-alt:hover {
      color: $color-accent-alt;
    }
    &-no-shadow:hover {
      box-shadow: none;
    }
    &-shadow {
      &-accent:hover {
        box-shadow: 0 0 5px var(--color-shadow-primary);
      }
    }
  }

  &-icon {
    border: none;
    border-radius: $tiny;
    min-width: 48px;
    width: 48px;

    &-square-med {
      width: $large;
      height: $large;
      border-radius: $tiny;
      margin-right: $small;
    }

    &-with-context &-link {
      border: none;
      background: none;
      padding: 1px 5px 0 0;
    }

    &-clickable {
      cursor: pointer;
    }

    &-borderless {
      border: none;
    }
  }

  &-large-font {
    font-size: large;
  }

  &-search {
    &-area {
      display: flex;
      margin: 1px;
    }
    &-fa {
      padding: $small;
    }
    &-wrapper {
      background: rgb(255 255 255 / 35%);
      border-radius: $tiny;
      position: relative;
      box-shadow: 0px 1px $tiny 3px rgba(0, 0, 0, 0.12);
      margin-bottom: $tiny;

      & input {
        height: 34px;
        outline: none;
        border: none;
        border-radius: $tiny;
        padding: 0 30px 0 10px;
        font-size: 16px;
        box-shadow: 0px 1px $tiny rgba(0, 0, 0, 0.1);
      }
      &.active input {
        border-radius: $tiny $tiny 0 0;
      }
    }
    &-autocom-box {
      padding: 0;
      opacity: 0;
      pointer-events: none;
      max-height: 280px;
      overflow-y: auto;
      position: absolute;
      background: white;
      width: 100%;
      border-radius: $tiny;

      & li {
        list-style: none;
        display: none;
        width: 100%;
        cursor: default;
        border-radius: 3px;
        margin-bottom: $tiny;
        &:hover {
          box-shadow: 0 0 $tiny red;
        }
      }
    }
    &-wrapper.active &-autocom-box {
      padding: 10px 8px 3px 8px;
      opacity: 1;
      pointer-events: auto;
      z-index: 1;
    }
    &-wrapper.active &-autocom-box li {
      display: block;
    }
    &-autocom-box li:hover {
      background: rgba(255, 255, 255, 0.7);
    }
  }

  &-postlabel {
    margin-left: $tiny;
  }

  &-panel-container {
    display: flex;
    min-height: 100%;
  }

  &-panel-container &-roll-btn {
    width: fit-content;
    height: fit-content;
    margin-left: $small;
  }

  &-panel-left {
    flex: 0 0 260px;
    margin-right: $tiny;
    padding-right: $small;
  }
  &-panel-right {
    flex: 1 1 auto;
  }

  &-y-scroll {
    overflow-y: scroll;
  }

  &-icon-with-context {
    display: flex;
    align-items: center;
    & > p {
      margin-left: 5px;
    }
  }

  &-small-margin-b {
    margin-bottom: $small;
  }

  &-point-buy-area {
    min-height: 17px;
  }

  &-asi {
    &-group {
      display: flex;
      justify-content: space-between;
      padding-bottom: $tiny;
    }

    &-button {
      display: inline-block;
      line-height: unset;
      width: 27px;
    }

    &-value {
      &,
      &[type='number'] {
        width: 27px;
        padding: $tiny;
        text-align: center;
      }
    }
  }

  /* ## Scrollable Textareas */
  &-infoArea {
    padding: $small;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 $tiny black;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  &-area-title {
    margin: $small 0 $small 0;
  }

  &-option {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: $tiny;
    padding: 0;

    &-label {
      padding-right: $small;
    }
    &-select {
      flex-grow: 1;
    }
  }

  &-options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-label {
      width: 100%;
    }

    &-button {
      width: auto;
      height: 27px;
      background-color: $color-button-background;
      color: #242424;
      border: 1px solid #7a7971;
      line-height: normal;
    }

    &-buttongroup {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &-bio {
    &-fullsize {
      height: 510px;
      width: 100%;
      margin: 0;
      background: none;
      border: none;
    }

    &-larger {
      height: 90px;
    }

    &-fix-area {
      resize: none;
    }
  }

  &-pointer {
    cursor: pointer;
  }

  &-collapsible-content {
    padding: $tiny $small;
    display: none;
    overflow: hidden;
  }

  &-submenu-header {
    position: sticky;
    top: 0px;
    max-height: 56px;
    overflow: hidden;
  }

  &-submenu-content {
    max-height: 295px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &-quantity-buttons {
    width: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform: translateX(-2px) translateY(-2px);
  }

  // utilitarian

  &-width {
    &-full {
      width: 100%;
    }
    &-half {
      &,
      &[type='number'] {
        width: 50%;
      }
    }
    &-60per {
      &,
      &[type='number'] {
        width: 60%;
      }
    }
    &-fit {
      width: fit-content;
    }
    &-250 {
      width: 250px;
    }
    &-180 {
      width: 180px;
    }
    &-195 {
      width: 195px;
    }
    &-60 {
      width: 60px;
    }
  }

  &-height {
    &-46 {
      min-height: 46px;
      max-height: 46px;
    }

    &-100p {
      height: 100%;
    }
  }

  &-no-border {
    border: none;
  }

  &-no-background {
    background: none;
  }

  &-margin {
    &-b {
      &-tiny {
        margin-bottom: $tiny;
      }
    }
    &-l {
      &-tiny {
        margin-left: $tiny;
      }
    }
    &-small {
      margin: $small;
    }
  }

  &-padding {
    &-r {
      &-tiny {
        padding-right: $tiny;
      }
      &-small {
        padding-right: $small;
      }
      &-medium {
        padding-left: $medium;
      }
    }

    &-b {
      &-tiny {
        padding-bottom: $tiny;
      }
      &-small {
        padding-bottom: $small;
      }
    }

    &-small {
      padding: $small;
    }
    &-tiny {
      padding: $tiny;
    }
  }

  &-overflow {
    &-ellipsis {
      text-overflow: ellipsis;
    }
  }
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-grow: 0;
}

.tab-header {
  width: 100%;
}

.tab-footer {
  flex-grow: 0;
  text-align: center;
  padding-top: $tiny + $small;
  padding-bottom: 7px;
}

#main-logo {
  content: url(../assets/logo.png);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
}

.apply-header-font h1,
.apply-header-font h2 {
  font-family: 'Modesto Condensed', 'Signika', 'Arial';
}

.apply-header-font h1 {
  margin-bottom: 15px;
}

.form--padding {
  padding: 5%;
}

/* ## Style the buttons inside the tab */

.tablinks {
  font-family: 'Modesto Condensed', 'Signika', 'Arial';
  background-color: inherit;
  height: 40px;
  padding: 10px;
  line-height: 0;
  border: none;
  outline: none;
  transition: all 0.3s;
  font-size: 1.25rem;
  display: inline-block;
  text-align: center;
}

.tabs button:hover {
  transform: scale(1.08); // translateY(-5px);
  box-shadow: none;
  text-shadow: 0 0 $tiny red;
}

.tabs button:focus {
  box-shadow: none;
}

.tabs button.active {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid $color-accent;
  transform: scale(1.08);
  text-shadow: 0 0 $tiny red;
}

.step-button {
  width: 80px;
  height: 35px;
  background-color: $color-button-background;
  border-radius: 3px;
  border: 2px groove #f0f0e0;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Signika', sans-serif;

  &:hover {
    background-color: rgba(245, 245, 230, 0.8);
  }
  &:disabled {
    background: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

#avatar_img {
  max-width: 160px;
  margin-right: 15px;
  border-radius: $tiny;
}

#token_img {
  max-width: 100px;
  border-radius: $tiny;
}

#avatar-token-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hct-select {
  font-family: 'Signika', sans-serif;
  border: 2px groove #f0f0e0;
  margin-left: auto;
}

.centered-text {
  width: 100%;
  text-align: center;
  display: block;
}

.justified-text {
  text-align: justify;
}

.hct_picker_primary {
  background-color: white;
  font-weight: bolder;
}

.htc_picker_primary_group {
  background-color: lightslategray;
  font-weight: bolder;
}

.hct_picker_secondary {
  background-color: white;
}

.hct_data_elem {
  margin-bottom: 10px;
}
