$margin-small: 10px;
$color-button-background: rgba(0, 0, 0, 0.05);
$color-accent: darkred;

.header-hct-button {
  margin: 2px;
  width: 97%;
}

.hct-container {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.hct {
  &-icon {
    border: none;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    margin-right: $margin-small;

    &-clickable {
      cursor: pointer;
    }
  }

  &-panel-container {
    display: flex;
  }
  &-panel-left {
    min-width: 230px;
    margin-right: 15px;
  }
  &-panel-right {
    width: 100%;
  }

  &-icon-with-context {
    display: flex;
    align-items: center;
    margin-bottom: $margin-small;
  }

  /* ## Scrollable Textareas */
  &-infoArea {
    height: fit-content;
    min-height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 5px;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 0 5px black;
      background: rgba(255, 255, 255, 0.5);
    }
  }

  &-area-title {
    margin: $margin-small 0 $margin-small 0;
  }

  &-option {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0;

    &-label {
      padding-right: 10px;
    }
    &-select {
      flex-grow: 1;
    }
  }
  &-options-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &-label {
      width: 100%;
    }
    &-button {
      width: 50%;
      height: 27px;
      background-color: $color-button-background;
      color: #242424;
      border: 1px solid #7a7971;
      line-height: normal;
    }
    &-buttongroup {
      width: 80%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.tab-body {
  padding: 2% 4%;
  border-top: none;
  width: 100%;
  height: 88%;
  position: relative;
}

.tab-header {
  width: 100%;
}

.tab-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.tab-footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#main-logo {
  content: url(../assets/logo.png);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
}

.window-content .tabs {
  flex: 0;
}

.apply-header-font h1,
.apply-header-font h2 {
  font-family: 'Modesto Condensed', 'Signika', 'Arial';
}

.apply-header-font h1 {
  margin-bottom: 15px;
}

.form--padding {
  padding: 5%;
}

.form__select--margin > select {
  margin-bottom: 20px;
}

.clickableText:hover {
  text-decoration: underline;
}

.flex-separator {
  width: 100%;
  display: flex;
  flex: column;
  justify-content: space-between;
}

/* ## Style the buttons inside the tab */

.tablinks {
  font-family: 'Modesto Condensed', 'Signika', 'Arial';
  background-color: inherit;
  height: 40px;
  padding: 10px;
  line-height: 0;
  border: none;
  outline: none;
  transition: all 0.3s;
  font-size: 1.25rem;
  display: inline-block;
  text-align: center;
}

.horizontal-flex {
  display: flex;
  flex-flow: row;
}

.vertical-flex {
  display: flex;
  flex-flow: column;
}

.horizontal-flex {
  display: flex;
  flex-flow: row;
}

/* ## Change background color of buttons on hover */

.tabs button:hover {
  transform: scale(1.08); // translateY(-5px);
  box-shadow: none;
  text-shadow: 0 0 5px red;
}

.tabs button:focus {
  box-shadow: none;
}

/* ## Create an active/current tablink class */

.tabs button.active {
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 4px solid $color-accent;
  transform: scale(1.08);
  text-shadow: 0 0 5px red;
}

/* ## Equipment */

#class-equip,
#gold-equip {
  display: none;
}

/* ## Stats Panel */

.stat-flex-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  flex-flow: row;
}

.stat-box {
  text-align: center;
  border-radius: 10px;
  padding: 30px 10px 0px 10px;
  background: rgba(255, 255, 255, 0.5);
}

.info-panel {
  border-radius: 10px;
  margin: 20px;
  height: 50px;
  padding: 15px 10px 0 10px;
  display: flex;
  flex: 0;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.smaller {
  text-align: center;
  max-width: 50px;
  float: right;
}

/* ## Next and Roll */

.rollButton {
  width: 100px;
  height: 40px;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 10px;
  border: 1px solid #1f2f47;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
  text-align: center;
  padding: 10px;
  margin: 10px auto 10px;
}

.rollButton:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

.step-button {
  width: 80px;
  height: 35px;
  background-color: $color-button-background;
  border-radius: 3px;
  border: 2px groove #f0f0e0;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Signika', sans-serif;
}

.step-button {
  &:hover {
    background-color: rgba(245, 245, 230, 0.8);
  }
  &:disabled {
    background: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

/* ## Forms */

.form-group {
  display: flex;
  padding-bottom: 10px;
}

.form-group div {
  display: flex;
  margin: 0;
}

.form-group input[type='color'] {
  margin-left: 10px;
}

.form-group label {
  font-family: 'Signika', 'serif', 'Arial';
  font-size: 1.2em;
}

.form-group span,
.form-group button {
  flex: 0 0 35px;
}

.div-button {
  min-width: 80px;
}

.basics-top-label {
  max-width: 180px;
}

#avatar_img {
  max-width: 160px;
  margin-right: 15px;
  border-radius: 5px;
}

#token_img {
  max-width: 100px;
  border-radius: 5px;
}

#avatar-token-display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hct-select {
  font-family: 'Signika', sans-serif;
  border: 2px groove #f0f0e0;
}

.centered-text {
  width: 100%;
  text-align: center;
  display: block;
}

.justified-text {
  text-align: justify;
}

.hct_picker_primary {
  background-color: white;
  font-weight: bolder;
}

.htc_picker_primary_group {
  background-color: lightslategray;
  font-weight: bolder;
}

.hct_picker_secondary {
  background-color: white;
}

.hct_data_elem {
  margin-bottom: 10px;
}

.race_proficiency_subtype:not(:first-child) {
  margin-top: 16px;
}
