<form class ="flexcol prototype" autocomplete="off">
    <div class="form-group">
      <label>Strength </label>
      <input type="number" id="strength" name="height" placeholder="Height"><br><br>         
    </div>
    <div class="form-group">
      <label>Dexterity </label>
      <input type="number" id="dexterity" name="height" placeholder="Height"><br><br>         
    </div>
    <div class="form-group">
      <label>Constitution </label>
      <input type="number" id="constitution" name="height" placeholder="Height"><br><br>         
    </div>
    <div class="form-group">
      <label>Intelligence </label>
      <input type="number" id="intelligence" name="height" placeholder="Height"><br><br>         
    </div>
    <div class="form-group">
      <label>Wisdom </label>
      <input type="number" id="wisdom" name="height" placeholder="Height"><br><br>         
    </div>
    <div class="form-group">
      <label>Charisma </label>
      <input type="number" id="charisma" name="height" placeholder="Height"><br><br>         
    </div>
  </form>