<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/hero-creation-tool.css">
  </head>
    <!--buttons toggle show hide of divs of each section-->
    <div class="tabs"> 
      <button class="tablinks" onclick="openTab(event, 'startDiv')"> Start </button>
      <button class="tablinks" onclick="openTab(event, 'raceDiv')"> Race </button>
      <button class="tablinks" onclick="openTab(event, 'classDiv')"> Class </button>
      <button class="tablinks" onclick="openTab(event, 'abDiv')"> Abilities </button>
      <button class="tablinks" onclick="openTab(event, 'backgroundDiv')"> Background </button>
      <button class="tablinks" onclick="openTab(event, 'eqDiv')"> Equipment </button>
      <button class="tablinks" onclick="openTab(event, 'spDiv')"> Spells </button>
      <button class="tablinks" onclick="openTab(event, 'featsDiv')"> Feats </button>
      <button class="tablinks" onclick="openTab(event, 'bioDiv')"> Bio </button>
      <button class="tablinks" onclick="openTab(event, 'reviewDiv')"> Review </button>
    </div>
      <!-- OK WE ARE PRETENDING THAT WE CAN LOAD THINGS, 
        COPY AND PASTE UR HTML FILE INTO THE BELOW WHEN YOU WANT TO TEST 
      *****************************************
      *****************************************
      *****************************************
      DO NOT CHANGE DIV ID OR CLASS NAME
      WHEN YOU ARE DONE TESTING MOVE YOUR CODE BACK TO YOUR OWN
      HTML FILE AND WE WILL COMPILE ALL AT THE END
      *****************************************
      *****************************************
      *****************************************
      REGARDING CSS, MAKE ANOTHER CSS FILE AND INCLUDE IT
      IN YOUR HTML/TESTING PHASE OR JUST LEAVE IT AND
      WE WILL FIGURE IT OUT AT THE END. PLZ MERCY TY
    -->
      <div id ="startDiv" class="tabcontent"></div>
      <div id ="raceDiv" class="tabcontent"></div>
      <div id ="classDiv" class="tabcontent"></div>
      <div id ="abDiv" class="tabcontent"></div>
      <div id ="backgroundDiv" class="tabcontent"></div>
      <div id ="eqDiv" class="tabcontent"></div>
      <div id ="spDiv" class="tabcontent"></div>
      <div id ="featsDiv" class="tabcontent"> </div>
      <div id ="bioDiv" class="tabcontent"></div>
      <div id ="reviewDiv" class="tabcontent"></div>

      <script src="/scripts/hero-creation-tool.js"></script>
      <script src="/scripts/importJson.js"></script>
      <script src="/scripts/toggleButton.js"></script>
</html>
