<div class="hct-container">
  <nav class="tabs">
    <button class="tablinks" data-hct_tab='startDiv'> {{localize 'HTC.Tabs.Start.Title'}} </button>
    <button class="tablinks" data-hct_tab='basicsDiv'> {{localize 'HTC.Tabs.Basics.Title'}} </button>
    <button class="tablinks" data-hct_tab='raceDiv'> {{localize 'HTC.Tabs.Race.Title'}} </button>
    <button class="tablinks" data-hct_tab='classDiv'> {{localize 'HTC.Tabs.Class.Title'}} </button>
    <button class="tablinks" data-hct_tab='abDiv'> {{localize 'HTC.Tabs.Abilities.Title'}} </button>
    <button class="tablinks" data-hct_tab='backgroundDiv'> {{localize 'HTC.Tabs.Background.Title'}} </button>
    <button class="tablinks" data-hct_tab='eqDiv'> {{localize 'HTC.Tabs.Equipment.Title'}} </button>
    <button class="tablinks" data-hct_tab='spDiv'> {{localize 'HTC.Tabs.Spells.Title'}} </button>
    <button class="tablinks" data-hct_tab='bioDiv'> {{localize 'HTC.Tabs.Bio.Title'}} </button>
    <button class="tablinks" data-hct_tab='reviewDiv'> {{localize 'HTC.Tabs.Review.Title'}} </button>
  </nav>

  {{> "modules/hero-creation-tool/templates/tabs/start.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/basics.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/race.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/class.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/abilities.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/background.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/equipment.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/spells.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/bio.html"}}
  {{> "modules/hero-creation-tool/templates/tabs/review.html"}}
</div>