<h1> Biography</h1>
<form class ="flexcol prototype" autocomplete="off">
  <div class="form-group">
    <label>Character Name</label>
    <input type="text" id="character_name" name="name" placeholder="Name" ><br><br>         
  </div>
  <div class="form-group">
    <label>Age </label>
    <input type="text" id="character_age" name="age" placeholder="Age"><br><br>         
  </div>
  <div class="form-group">
    <label>Height </label>
    <input type="text" id="character_height" name="height" placeholder="Height"><br><br>         
  </div>
  <div class="form-group">
    <label>Weight </label>
    <input type="text" id="character_weight" name="weight" placeholder="Weight" ><br><br>         
  </div>
  <div class="form-group">
    <label>Eyes </label>
    <input type="color" id="character_eye" name="eye" placeholder="Eye">
    <input type="text" id="character_eye" name="eye" placeholder="Eye" ><br><br>         
  </div>
  <div class="form-group">
    <label>Hair </label>
    <input type="color" id="character_hair" name="hair" placeholder="Hair" > 
    <input type="text" id="character_hair" name="hair" placeholder="Hair" ><br><br>         
  </div>
  <div class="form-group">
    <label>Skin </label>
    <input type="color" id="character_skin" name="skin" placeholder="Skin">
    <input type="text" id="character_skin" name="skin" placeholder="Skin" ><br><br>         
  </div>      
  <button  type="submit" Value = "Next"> Next </button>
</form>
