<h1 style="font-family: 'Modesto Condensed';">
    First choose your race!
</h1>
<div class="info-body">
    <select id="race-dropdown" name="race-dropdown" onclick="onSelectRace()"></select>
    <script>
        var races = getRaces();
        populateList("race-dropdown", races, false, "race");
    </script>
</div>
<h2>Ability Score Increase </h2>
<div id="race-ability" name="race-ability"></div>
<h2>Speed</h2>
<div id="race-speed" name="race-speed"></div>
<!-- <h2>Language Proficiencies</h2> -->
<!-- <div id="race-language" name="race-language"></div> -->
<div id="race-features" name="race-features"></div>
<div class="raceSubmit nextButton">Next</div>