<h1 style="text-align:center">
    Welcome to the Hero Creation Tool for DnD 5e!
</h1>
<body>
The Hero Creation Tool is a step-by-step process that makes building a character simple and streamlined. 
Changes are saved as you progress, but the character sheet is only updated when you review the data at the end.
<br><br><b>Your Adventure Awaits!</b>
<br><br> The Hero Creation Tool currently only supports Dungeons & Dragons 5th Edition SRD from the Players Hand Book. 
You can add further content through the import function of the module or by creating custom modules on the fly in the creation tool.
<br><br><b>
    Get started by clicking Next.
</b>
</body>