<h1 style="text-align:center">
    Welcome to the Hero Creation Tool for DnD 5e!
</h1>
<body>
The Hero Creation Tool is a step-by-step process for creating a character in your tabletop game. 
Changes are saved as you progress, but the character sheet is only updated upon completion.

<br><br> The Hero Creation Tool currently supports Dungeons & Dragons 5th Edition SRD material from the Players HandBook. 
You can add further content through the import function of the module (to be implemented?) or by creating custom modules in the creation tool.


<br><br><b>Your Adventure Awaits!</b>
<br><br><b>
    Get started by clicking Next.
</b>
</body>