
.tabs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.window-app .window-content .tabs {
  flex: 0;
}
/* Style the buttons inside the tab */
.tablinks {
  background-color: inherit;
  margin-top: 10px;
  height: 40px;
  padding: 10px;
  line-height: 0;
  border: none;
  outline: none;
  transition: 0.3s;
  font-size: 15px;
  display: inline-block;
  text-align: center;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  transform: scale(1.08) translateY(-5px);
  box-shadow: none;
}

.tabs button:focus {
  box-shadow: none;
  transform: scale(1.08);
  text-decoration: underline;
}

/* Create an active/current tablink class */
.tabs button.active {
  border-radius: 50px;
  background-color: #eee;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.smaller{
  text-align: center;
  max-width: 50px;
  float: right;
}