/* ## General Styles */
.tabs {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.window-content .tabs {
  flex: 0;
}

.apply-header-font h1, .apply-header-font h2 {
  font-family: 'Modesto Condensed', 'Signika', 'Arial';
}

.apply-header-font h1 {
  margin-bottom: 15px;
}

.form--padding {
  padding: 5%;
}

.form__select--margin > select{
  margin-bottom: 20px;
}

.clickableText:hover {
  text-decoration: underline;
}

.flex-separator {
  width:100%;
  display: flex;
  flex: column;
  justify-content: space-between;
}

/* ## Scrollable Textareas */

.infoArea {
  overflow: auto;
  overflow-y: visible;
  border-spacing: 10px;
  border-spacing: 15px;
  border-collapse: seperate;
  padding: 5px;
  height: inherit;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}

.infoArea:hover {
  box-shadow: 0 0 5px black;
  background: rgba(255, 255, 255, 0.5);
}

/* ## Style the buttons inside the tab */

.tablinks {
  font-family: 'Modesto Condensed', 'Signika', 'Arial';
  background-color: inherit;
  margin-top: 10px;
  height: 40px;
  padding: 10px;
  line-height: 0;
  border: none;
  outline: none;
  transition: all 0.3s;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
}

.light-pane {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.horizontal-flex {
  display: flex;
  flex-flow: row;
}

.vertical-flex {
  display: flex;
  flex-flow: column;
}

.horizontal-flex {
  display: flex;
  flex-flow: row;
}

/* ## Change background color of buttons on hover */
.tabs button:hover {
  transform: scale(1.08) translateY(-5px);
  box-shadow: none;
  text-shadow: 0 0 5px red;
}

.tabs button:focus {
  box-shadow: none;
  transform: scale(1.08) translateY(-5px);
  text-shadow: 0 0 5px red;
}

/* ## Create an active/current tablink class */
.tabs button.active {
  border-radius: 50px;
  transform: scale(1.08) translateY(-5px);
  text-decoration: underline;
  text-shadow: 0 0 5px red;
}

.tabcontent {
  display: inline-block;
  padding: 2% 4%;
  border-top: none;
}

/* ## Equipment */
#class-equip, #gold-equip {
  display: none;
}

/* ## Stats Panel */

.stat-flex-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-evenly;
  flex-flow: row;
}

.stat-box {
  text-align: center;
  border-radius: 10px;
  padding: 30px 10px 0px 10px;
  background:  rgba(255, 255, 255, 0.5);
}

.info-panel {
  border-radius: 10px;
  margin: 20px;
  height: 50px;
  padding: 15px 10px 0 10px;
  display: flex;
  flex: 0;
  justify-content: space-between;
  background:  rgba(255, 255, 255, 0.5);
  text-align: center;
}

/* ## Review */
.review-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 10px;
  margin: 0;
}

.review-container:nth-child(odd) {
  background: rgba(77, 18, 0, 0.1)
}

.smaller{
  text-align: center;
  max-width: 50px;
  float: right;
}

/* ## Next and Roll */

.rollButton {
  width: 100px;
  height: 40px;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:10px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  text-align: center;
  padding: 10px;
  margin: 10px auto 10px;
}

.rollButton:hover {
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

.nextButton {
  width: 80px;
  height: 30px;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:10px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  text-align: center;
  padding: 5px;
  margin: 15px;
  float: right;
}
.nextButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

/* ## Forms */

.form-group {
  display: flex;
  padding-bottom: 10px;
}

.form-group div {
  display: flex;
  margin: 0;
}

.form-group input[type="color"] {
  margin-left: 10px;
}

.form-group label {
  font-family: 'Signika', 'serif', 'Arial';
  font-size: 1.2em;
}

.form-group span, .form-group button {
  flex: 0 0 35px;
}

.divButton {
  min-width: 80px;
}

.basics-top-label {
  max-width: 180px;
}

#avatar_img {
  max-width: 200px;
  margin-right: 15px;
}

#token_img {
  max-width: 75px;
}

#avatar-token-display {
  display: flex;
  justify-content: center;
  align-items: center;
  
}